@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url("espaco.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center center;    
}

div img{  
    position: relative; 
    top: 25%;
    left: 30%;    
    width: 200px;
    height: 200px;    
}